/** @format */

.bg-blur {
	background-color: rgba(255, 255, 255, 0.4);
}
.bg-more-blur {
	background-color: rgba(255, 255, 255, 0.8);
}
.bg-blur-dark {
	background-color: rgba(0, 0, 0, 0.4);
}

.center {
	margin: auto;
	width: 98%;
}

label.radiobutton {
	display: block;
	background-color: rgba(84, 189, 238, 0.8);
	text-align: end;
	border-radius: 10px;
}
label.radiobutton:hover {
	background-color: rgba(197, 66, 209, 0.8);
}
gradual-shadow-left {
	box-shadow: 3em -0px 10px grey inset;
}
gradual-shadow-right {
	box-shadow: -3em -0px 10px grey inset;
}
