/** @format */

body {
	height: 100%;
	width: 100%;
	background-image: url("photography-of-fall-trees-1591447.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

form {
	max-width: 25em;
	margin: 10px auto;
	padding: 10px 20px;

	border-radius: 8px;
}
@media screen and (max-width: 800px) {
	form {
		max-width: 100%;
		margin: 10px auto;
		padding: 10px 20px;
		border-radius: 8px;
	}
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	border: none;
	font-size: 12px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 1em;
	width: 100%;
	background-color: #bfeeec;
	color: #000000;
	box-shadow: 0 1px 0 rgb(0, 0, 0, 0.3) inset;
	margin-bottom: 1em;
}
input[type="checkbox"] {
	border-radius: 5px;
	background-color: #e8eebf;
}
