/** @format */

* {
	box-sizing: border-box;
}
html,
body {
	background-image: url("photography-of-fall-trees-1591447.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: "Numans", sans-serif;
}

form {
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 20px;
	background: none;
	border-radius: 8 px;
}

h1 {
	margin: 0 0 30 px 0;
	text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	border: none;
	font-size: 12px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #bfeeec;
	color: #000000;
	box-shadow: 0 1px 0 rgb(0, 0, 0, 0.3) inset;
	margin-bottom: 10px;
}
input[type="checkbox"] {
	border-radius: 5px;
	background-color: #e8eebf;
}
